form{
    margin-top:2rem ;
    text-align: start;
    background-color: #131313;
    padding: 2rem;
}
.uploadhere{
 justify-content: center;
}
.formGrid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.cols{
    width: 100%;
}

.enviar{
    font-size: larger;
    width: 178px;
}
input, select{
    /* width: 90%; */
    margin-bottom:20px;
}
.col1{
    margin-left:3rem;
    margin-right: 1.5rem;
}
.col2{
    margin-left: 7rem;
    margin-right: 1.5rem;
}
.col3{
    margin-left: 1.5rem;
}

form img{
    width: 100%;
    height:100%;
    overflow: hidden;
    border-radius: 8px;
    object-fit: cover;
}
.required{
    color: var(--primary-color);
}