.contenedor{
    padding: 3rem 4rem 3rem 4rem;
  }
.centrado{
    text-align: center;   
}
.jumbos{
    background-color: #131313;
    padding: 2rem;
}
.findUrGame{
    display: flex;
    color: var(--primary-color);
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.searchBar{
    margin: 0 1rem 0 0;
    padding:0;
    text-align: end;
}
.navSU{
    display: grid;
    grid-template-columns: 52%  48% ;
    justify-content: space-around;
    padding-top:1rem;
}
.colSearch{
    text-align: end;
}
.colUpload{
    text-align: start;
    margin-left: 1rem;
    padding-top: 2px;
}
.sizeSU{
    font-size: 1rem;
}
.jumboSup{
    margin-bottom:2rem;
}
.jumboInf{
    display: grid;
    /* grid-template-columns: 25%  25% 25% 25%; */
    grid-template-columns: 20%  20% 20% 20% 20%;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}
.card{
    padding: 1.5rem 0.5rem;
}
.imagenes{
    width: 100%;
    height: 165px;
    overflow: hidden;
    border-radius: 8px;
    object-fit: cover;
}