.contenedorLanding{
  padding: 2rem 5rem 0 5rem;;
}
.landing{
    height:100vh;
    width: 100vw;
    background-image: url(../assets/img/child-playing2.jpg);
    background-size: 100% ;
    background-repeat:no-repeat;
    object-fit: cover;
    z-index: 2;
}
.tituloLanding{
  font-size: 5rem;  
  padding: 9rem 0rem 0rem 0rem;
  color: var(--primary-color);
}
.delfi{
  margin: 0rem 0rem 2rem 10rem ;
  color: var(--primary-color);
}
.letsgo{
    font-weight: bold;
    font-size: 1.8rem;
    margin-left: 16rem;
}
.letsgo:hover{
  background-color: var(--secondary-color);
}
