.pagWrapper{
  text-align: center;
}
.pagination{
  display: inline-block;
}
.pagination button{
  color: white;
  float: left;
  padding: 8px 16px;
  margin:5px;
  text-decoration: none;
}
.pagination button:active {
  background-color: #1F51FF;
  color: white;
}
.pagination  button:hover {
  background-color: var(--secondary-color);
}


